@font-face {
    font-family: my-font;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}
*{
    box-sizing: border-box;
}
body{
    font-family: my-font;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(234, 29%, 20%);
    min-height: 100vh;
}
.container{
    background-color: white;
    display: flex;
    width: 800px;
    border-radius: 25px;
    padding: 20px;
}
.text-container{
    width: 60%;

}
.img-container{
    width: 40%;
}
.img-container img{
    width: 100%;
}
ul{
    list-style-image: url(./assets/images/icon-list.svg);
}
li{
    margin-bottom: 10px;
    padding-left: 10px;
}
form{
    display: flex;
    flex-direction: column;
    width: 350px;
}
input{
    font-family: inherit;
    border-radius: 10px;
    padding: 15px 10px;
    outline: none;
    border: 1px solid hsl(231, 7%, 60%) ;
    margin-left: 20px;
}
button{
    font-family: inherit;
    border-radius: 10px;
    padding: 15px 10px;
    outline: none;
    border: 1px solid hsl(231, 7%, 60%) ;
    margin: 20px 20px;
    background-color: hsl(235, 18%, 26%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    width: 330px;
}
label{
    margin-left: 20px;
    padding-bottom: 10px;
}
h1{
    font-size: 40px;
    margin-left: 20px;
}
p{
    margin-left: 20px;
}
.hide{
    display: none;
}
.container-2{
    background-color: white;
    width: 400px;
    border-radius: 25px;
    padding: 30px;
}
.container-2 button{
    width: 90%;
}
.container-2 img{
    padding-left: 20px;
}

@media (max-width: 576px) {
    .container{
        flex-direction: column-reverse;
        width: 100%;
        padding: 0;
        border-radius: 0;
    }
    body{
        padding: 0;
        margin: 0;
    }
    .text-container{
        width: 100%;
    }
    .img-container{
        width: 100%;
    }
    .img-container img{
        content: url(./assets/images/illustration-sign-up-mobile.svg);
    }
    .form{
        width: 100%;
    }
    .text-container{
        padding: 20px;
    }
    .container-2{
        width: 100%;
        margin: 0;
        padding: 40px;
        border-radius: 0;
    }
}